.stage-top {
  width: 800px;
  min-height: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  background-color: #8c5c46;
  border-radius: 25px;
}

.import-panel {
  width: 700px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: auto;
  background-color: #927e75;
  border-radius: 25px;
}

.import-panel-search {
  display: block;
}

.import-panel-search button {
  
}

.import-panel-select {
  width: 700px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: auto;
  background-color: #8c5c46;
  border-radius: 25px;
}

.import-panel-item {
  width: 70px;
  height: 70px;
  display: block;
  background-color: #3d3c3c;
  margin: auto;
  border-style: solid;
  border-color:#bbb #888 #666 #aaa;
	border-width: 3px 4px 4px 3px;
  border-radius: 5px;
  color: #bbb;
  font-size: 14px;
}

.import-panel-item:hover{
	border-color: #666 #aaa #bbb #888;
	border-width: 4px 3px 3px 4px;
	color:#888;
}

.creature-image {
  width: 45px;
  height: 50px;
  background-color: #141414;
  margin: auto;
  border-radius: 5px;
}
